.page {
  min-height: calc(100vh - var(--verPadding) * 2);

  &__title {
    margin-bottom: 3rem;
    font-weight: 600;
    color: var(--grey-700);
    border-bottom: 2px dotted currentColor;
  }

  &__content {
    &--columns {
      display: grid;
      grid-template-columns: 1fr 35%;
      grid-gap: 5rem;
    }
  }

  &__column {
  }

  &__form {
    margin-bottom: 3rem;
  }
}

//.test {
//  width: 977px;
//  height: 700px;
//  background-color: #0f5132;
//  color: white;
//
//  position: relative;
//
//  &:after {
//    position: absolute;
//    content: "";
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    background-image: url("../../public/glasses-mask@2x.png");
//    background-size: cover;
//  }
//}
