.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--verPadding)*2);

  &__title {
    font-size: 3rem;
    line-height: 1;
    color: var(--grey-800);
    font-weight: 700;
  }

  &__link {
    display: block;
    margin-top: 20px;
  }
}

