
//ссылка источник
.source {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 80px;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grey-200);

  &__link {
    display: block;
    grid-column: 1/span 1;
    margin-bottom: 0.9rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--grey-700);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/span 2;
    grid-row: 2/span 1;
  }

  &__tag  {
    padding: 0.1rem 0.4rem;
    font-size: 0.8rem;
    background-color: var(--primary-300);

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__date {
    font-size: 0.8rem;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    text-align: right;
  }

}
